@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", cursive;
}

@layer utilities {
  @keyframes sway {
    0% { transform: translateX(-50%) translateY(-80px) rotate(-2deg); }
    50% { transform: translateX(-50%) translateY(-82px) rotate(2deg); }
    100% { transform: translateX(-50%) translateY(-80px) rotate(-2deg); }
  }

  .animate-sway {
    animation: sway 3s ease-in-out infinite;
  }
}

/* Custom Scrollbar Styles */
.custom-scrollbar {
  /* WebKit (Chrome, Edge, Safari) */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #112044 #112044; /* Thumb and track colors for Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* Horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #112044; /* Dark gray track to match dark theme */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #112044; /* Purple thumb to match portfolio aesthetic */
  border-radius: 4px;
  transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #112044; /* Lighter purple on hover for interactivity */
}